header {
    background-color: var(--background-secondary);
    height: 156px;
    width: 100%;
}

header button {
    border: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;

    padding-right: max(calc(50% - 720px), 140px);
    padding-left: max(calc(50% - 720px), 140px);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 40px;

}

.header-logo-icon {
    height: clamp(35px, 6vw, 64px);
    width: clamp(32px, 5.5vw, 56px);
}

.logo-text {
    font-family: "Pixelify Sans";
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.85;
}

header nav {
    padding-top: 50px;
    padding-bottom: 40px;

}

.hero-section {
    background-color: var(--background-primary);

    width: 100%;
}

.banner {
    background-image: url(./assets/imgs/Hero-Section.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    height: clamp(340px, 45vw, 500px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-bottom: clamp(32px, 3vw, 52px);
}

.shop-logo {
    height: clamp(120px, 15vw, 200px);

    transform: translateY(-50%);

    margin-bottom: -20px;
}

.shop-logo svg {
    height: clamp(120px, 15vw, 200px);
}

.headline {
    display: flex;
    flex-direction: column;

    transform: translateY(-50%);
}

.name-and-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.name-and-rating span {
    color: var(--accent);
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 4px;

    background-color: var(--background-tertiary);
}

.rating p {
    font-weight: bold;
}

.rating span {
    color: var(--background-primary);

    font-weight: 200;
}

.content {
    display: flex;

    width: 100%;
    max-width: 1440px;
}

.category-block {
    width: 100%;
}

.category-header-band {
    width: 100vw;

    margin-left: calc(50% - 50vw);

    background-color: var(--background-tertiary);
}

.category-header-content {
    display: flex;
    align-items: center;
    gap: 16px;

    max-width: 1440px;
    height: 60px;
}

.category-header-content h2 {
    color: var(--font-primary);
}

.basket-rail {
    display: flex;
    justify-content: flex-end;

    width: 400px;
}

.basket-card {
    display: flex;
    flex-direction: column;

    min-height: 400px;
    height: 600px;
    width: 400px;

    position: sticky;
    top: 10px;

    background-color: var(--background-secondary);

    color: var(--background-primary);

    border-radius: 24px 0 0 24px;
    padding: 24px;

    z-index: 4;
}

.basket-card h2 {
    text-align: center;
    margin-bottom: 24px;
}

.empty-basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    gap: 32px;
}

.empty-basket-content p {
    line-height: 1.4;

    margin: 0;
}

.basket-item {
    display: flex;
    flex-direction: column
}

.basket-controls {
    display: flex;
    justify-content: space-between;
}

.amount-buttons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.basket-items-list {
    max-height: 240px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-right: 8px;
}

.basket-summary {
    margin-top: auto;
    padding-top: 16px;
}

.basket-items-list::-webkit-scrollbar {
    width: 6px;
}

.basket-items-list::-webkit-scrollbar-thumb {
    background-color: var(--background-tertiary);
    border-radius: 4px;
}