.category-block h2 {
    background-color: var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.category-games h2::before {
    content: "";
    background-image: url('../assets/icons/gameboy-cartridge-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 90px;
    height: 90px;
}

.category-consoles h2::before {
    content: "";
    background-image: url('../assets/icons/gameboy-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 90px;
    height: 90px;
}

.category-periphery h2::before {
    content: "";
    background-image: url('../assets/icons/nes-controller-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 90px;
    height: 90px;
}

.product-card {
    background-color: var(--background-primary);

    margin: 16px;
    padding: 10px;

    display: flex;
    gap: 15px;

    border-radius: 12px;
}

.product-card img {
    background-color: white;

    width: 210px;
    height: 120px;

    padding: 6px;

    object-fit: contain;

    border-radius: 12px;
}

.product-title {
    width: 350px;
}

.price-plus-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}