button {
    background-color: transparent;

    border-radius: 20px;

    cursor: pointer;
}

.category-icon {
    width: 90px;
    height: 90px;

    flex-shrink: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.games .category-icon {
    background-image: url('../assets/icons/gameboy-cartridge-icon.svg');
}

.consoles .category-icon {
    background-image: url('../assets/icons/gameboy-icon.svg');
}

.periphery .category-icon {
    background-image: url('../assets/icons/nes-controller-icon.svg');
}

.products-grid {
    width: 100%;
    max-width: 1440px;

    margin: 16 auto;
}

.product-card {
    display: flex;
    gap: 16px;

    background-color: var(--background-primary);

    width: clamp(300px, 55vw, 716px);

    margin: 16px auto;
    padding: 10px;

    border-radius: 12px;
}

.product-card img {
    background-color: white;

    width: 210px;
    height: 120px;

    padding: 6px;

    object-fit: contain;

    border-radius: 12px;
}

.product-title {
    flex: 1;
    min-width: 0;
}

.price-plus-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: bold;
}

.modal-card {
    background-color: var(--background-secondary);
    color: var(--background-primary);

    width: clamp(300px, 15vh, 400px);

    margin: auto;
    padding: 16px;

    border-radius: 30px;
    border: none;

    text-align: center;

    opacity: 0;
    transform: scale(0.95);

    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        display 0.3s allow-discrete;
}


.modal-card:popover-open {
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 1;
    transform: scale(1);
}


@starting-style {
    .modal-card:popover-open {
        opacity: 0;
        transform: scale(0.95);
    }
}

.modal-card::backdrop {
    background-color: transparent;
    backdrop-filter: blur(0px);
    opacity: 0;

    transition:
        backdrop-filter 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        display 0.3s allow-discrete;
}

.modal-card:popover-open::backdrop {
    backdrop-filter: blur(8px);
    opacity: 1;
}

@starting-style {
    .modal-card:popover-open::backdrop {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
}

.modal-card button {
    background-color: var(--background-primary);
    color: var(--background-secondary);

    align-self: flex-end;
    margin-bottom: 16px;
}