button {
    background-color: transparent;

    border-radius: 20px;

    cursor: pointer;
}

.category-icon {
    width: 90px;
    height: 90px;

    flex-shrink: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.games .category-icon {
    background-image: url('../assets/icons/gameboy-cartridge-icon.svg');
}

.consoles .category-icon {
    background-image: url('../assets/icons/gameboy-icon.svg');
}

.periphery .category-icon {
    background-image: url('../assets/icons/nes-controller-icon.svg');
}

.product-card {
    background-color: var(--background-primary);

    margin: 16px;
    padding: 10px;

    display: flex;
    gap: 15px;

    border-radius: 12px;
}

.product-card img {
    background-color: white;

    width: 210px;
    height: 120px;

    padding: 6px;

    object-fit: contain;

    border-radius: 12px;
}

.product-title {
    width: 350px;
}

.price-plus-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}